#Lista .mb-5, .my-5 {
  margin-bottom: 1rem !important;
}

.gifts-show-more {
  & > .collapse-header {
    font-size: 1.1rem;
  }

  & > .collapse-content {
    padding: 1rem 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f8f9fa;
  }

  & p {
    margin-bottom: 0;
  }

  & a {
    font-size: 0.8rem;
  }

  & svg {
    //padding-right: 0.4rem;
    //margin-top: 0.2rem;
    //margin-bottom: 0.2rem;
    //color: gray
  }
}

.iban {
  font-weight: bold;
}