.simple-dropdown {
  padding: 10px;
  border: 1px solid #E5E5E5;
  border-top: none;
  width: 300px;
  background-color: #FFF;
  margin: 0 auto;
}
.popover {
  position: relative !important;
  left: 30px !important;
  max-width: 160px !important;
}
.dropdown-item-cal {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}