.page-section {
  padding: 100px 0;
}
@media (min-width: 768px) {
  .page-section {
    padding: 150px 0;
  }
}

.fullwidth .container {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 50px;
}

.image-card.bg-dark.text-top-color {
  border-radius: 0;
}