.page-section {
  padding: 100px 0;
}
@media (min-width: 768px) {
  .page-section {
    padding: 150px 0;
  }
}

.fullwidth .container {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding-top: 20px;
  padding-bottom: 0;
}